.project-section {
  display: grid;
  width: 100%;
  padding: 4rem;
}

.project-section h1 {
  font-size: 3.6rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 4.5rem;
  font-weight: bold;
  text-align: center;
}

.project-section .project-list {
  margin-top: 1rem;
  display: grid;
  box-sizing: border-box;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
}

.project-section .project-list img {
  width: 100%;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .15);
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 1.5rem;
  object-fit: cover;
}

.project-section .show-all-btn {
  margin: auto;
  background-color: #333;
  color: #fff;
  font-size: 1.8rem;
  border: 0;
  border-radius: 1.5rem;
  margin-top: 4rem;
  padding: 1.5rem 3.5rem;
}