.skills {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 2rem;
  width: 100%;
}

.skills h1 {
  text-align: center;
  font-size: 3.6rem;
  line-height: 4.5rem;
  font-weight: bold;
  color: #333;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 4rem;
  margin-top: 1rem;
}

.skills .skill-list div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 8rem;
  border-radius: 50%;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}

.skill-list div img {
  width: 100%;
  object-fit: cover;
}
